main {
display: flex;
gap: 2rem;
}

.card{
	background-color:pink;
	border-radius:20px;
	padding: 1.5rem;
	text-align: center;
}

.card > p{
	font-size: 2rem;	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
  font-family: "Mohave", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Estilos generales */
body {
	font-family: "Mohave", serif;
	min-height: 100vh;
	background-color: #E0DFCD;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Contenedor del menú */
.menu {
	justify-content: center;
	background-color: #E0DFCD;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 400px; /* Limita el ancho en tabletas */
	padding: 20px;
}

/* Estilo del logo */
.logo {
	width: 300px;
	margin-bottom: 20px;
}

/* Contenedor central para el texto */
.answer-display {
    display: flex;
	flex-direction: column;
	align-items: center;
    width: 80vw;
    max-width: 400px;
    padding: 2vh;
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    color: #333;
}
.return-fields{
    display: flex;
	flex-direction: column;
	align-items: center;
    width: 80vw;
    max-width: 400px;
    padding: 2vh;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: #333;
    margin: 20px auto;
}
/* Botones del menú */
button {
	width: 80%;
	height: 10vh;
	padding: 15px;
	margin: 5px 0;
	font-size: 16px;
	color: #886c51;
	background-color: #FEFDF2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

/* Ocultar elementos en el estado alterno */
.hidden {
    display: none;
}

button:hover {
	background-color: #bfa994;
}

#process{
	background-color:cyan;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
#botonfabrika {
	width: 40%;
}